:root {
  font-size: 16px;
}

* :not(.fa):not(.fa-brands):not(.main_content_wrapper > p):not(.content_para) {
  font-family: gotham-rounded-bold, sans-serif;
  letter-spacing: 0.2rem;
}

.container {
  max-width: 1024px;
}

.green_color {
  color: #16a085;
}

.grey-color {
  color: #5b5b5b;
}

.gotham_md {
  font-family: gotham-rounded-medium, sans-serif !important;
}

.gotham_light {
  font-family: gotham-rounded-light, sans-serif !important;
}

.content_wrapper {
  text-align: left;
}

.content_heading {
  font-size: 1.1rem;
}

.content_para {
  font-size: 0.7rem;
}
.content_para span {
  font-weight: bold;
  color: #000;
}

.count_slides {
  font-size: 0.6rem;
}

.small_text_1 {
  font-size: 0.5rem;
}

.small_text_2 {
  font-size: 0.62rem;
  line-height: 2.5;
}

.small_text_3 {
  font-size: 0.75rem;
}

.small_text_4 {
  font-size: 0.8rem;
}

.my_btn {
  color: #fff;
  font-size: 0.7rem;
  background-color: #16a085;
  padding: 1rem 2.5rem;
}

.icon_btn_style {
  background-color: #16a085;
  width: 4rem;
  color: #fff;
}

.download_btn_style {
  width: 15rem;
  background-color: #1abc9c;
  color: #fff;
}

.design_carousel_controls {
  position: absolute;
  bottom: 4.5rem;
  right: 18rem;
}

.our_community_carousel_controls {
  position: absolute;
  top: 0rem;
  right: -2.8rem;
}

.control_next, .control_prev {
  position: relative;
  display: inline;
}
.control_next .control_prev_icon, .control_next .control_next_icon, .control_prev .control_prev_icon, .control_prev .control_next_icon {
  padding: 0 2rem 0 1rem;
  filter: invert(1);
  width: 1.2rem;
  height: 1.2rem;
}

#rappresent {
  background-color: #f5f6f7;
}

#our-community {
  background-color: #f5f6f7;
}

#download {
  background-color: #f5f6f7;
}

.wrapper {
  padding: 7rem 0 6rem 0 !important;
}

.phone_bg {
  position: absolute;
  width: 65%;
  right: 0;
  bottom: 0;
}

.move_img_left {
  left: -0.4rem;
  position: absolute;
}

.side_borders {
  border-left: solid 3px #16a085;
  border-right: solid 3px #16a085;
}

#header {
  background-image: url("../../images/header/home-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#header nav .nav-item img {
  margin-top: -1rem;
}
#header .main_content_wrapper {
  margin: 11rem 0 14rem 0;
}
#header .main_content_wrapper h1 {
  font-size: 2.25rem;
  letter-spacing: 0.3rem;
}
#header .main_content_wrapper p {
  letter-spacing: 0.15rem;
}

#subscribe {
  background: url("../../images/subscribe/section-5-bg.jpg");
  background-size: cover;
}
#subscribe .subscribe_title {
  padding-top: 21rem;
  padding-bottom: 1.7rem;
}
#subscribe .subscribe_input {
  width: 21rem;
  padding-bottom: 20.5rem;
}

.nav-item > a:hover {
  color: #1abc9c !important;
}

.white-color {
  filter: invert(1);
}

@media screen and (max-width: 992px) {
  .border-setup {
    padding: 1rem 0;
    border-top: 1px solid white !important;
    border-bottom: 1px solid white !important;
  }
  #rappresent .wrapper {
    padding: 0 !important;
  }
  #rappresent .wrapper .phone_bg {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #rappresent .rappresent_content_wrapper {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5rem 1rem !important;
    text-align: center;
  }
  .content_wrapper {
    text-align: center;
  }
  .move_img_left {
    margin: 0 auto;
    position: relative;
  }
  br {
    display: none;
  }
  .our_community_carousel_controls {
    position: relative;
    top: 0rem;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .our_community_carousel_controls .control_prev_icon, .our_community_carousel_controls .control_next_icon {
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (max-width: 576px) {
  .wrapper .phone_bg {
    width: 100% !important;
  }
  .move_img_left {
    width: 80% !important;
    height: 100%;
  }
  .download_btn_style {
    width: 80%;
  }
  .subscribe_input {
    width: 80% !important;
  }
}/*# sourceMappingURL=main.css.map */