:root {
    font-size: 16px;
}

* :not(.fa):not(.fa-brands):not(.main_content_wrapper > p):not(.content_para){
  font-family: gotham-rounded-bold, sans-serif;
  letter-spacing: 0.2rem;
}

// Adjusting the bootstrap container width 
.container {
  max-width: 1024px;
}

// colors 

$grey-bg: #f5f6f7;
$green : #16a085;
$green-2: #1abc9c;
$white : #fff;
$dark-grey : #5b5b5b;

.green_color {
  color: $green;
}

.grey-color {
  color : $dark-grey;
}

// font and text 

.gotham_md {
  font-family: gotham-rounded-medium, sans-serif !important;
}

.gotham_light {
  font-family: gotham-rounded-light, sans-serif !important;
}

.content_wrapper {
  text-align: left;
}

.content_heading {
  font-size: 1.1rem;
}

.content_para {
  font-size: 0.7rem;

  span {
    font-weight: bold;
    color: #000;
  }
}

.count_slides {
  font-size: 0.6rem;
}

.small_text_1 {
  font-size: 0.5rem;
}

.small_text_2 {
  font-size: 0.62rem;
  line-height: 2.5;
}

.small_text_3 {
  font-size: 0.75rem;
}

.small_text_4 {
  font-size: 0.8rem;
}

// button

.my_btn {
  color: $white;
  font-size: 0.7rem;
  background-color: $green;
  padding: 1rem 2.5rem;
}

.icon_btn_style {
  background-color: #16a085;
  width: 4rem;
  color: #fff;
}

.download_btn_style {
  width: 15rem;
  background-color: $green-2;
  color: $white;
}

//carousel

.design_carousel_controls {
  position: absolute;
  bottom: 4.5rem;
  right: 18rem;
}

.our_community_carousel_controls {
  position: absolute;
  top: 0rem;
  right: -2.8rem;
}

.control_next, .control_prev {
  position: relative;
  display: inline;

  .control_prev_icon, .control_next_icon {
    padding: 0 2rem 0 1rem;
    filter: invert(1);
    width: 1.2rem;
    height: 1.2rem;
  }
}

// applying grey bg to sections

#rappresent {
  background-color: $grey-bg;
}

#our-community {
  background-color: $grey-bg;
}

#download {
  background-color: $grey-bg;
}

// wrappers 

.wrapper {
  padding: 7rem 0 6rem 0 !important;
}


// images 

.phone_bg {
  position: absolute;
  width: 65%;
  right: 0;
  bottom: 0;
}

.move_img_left {
  left: -0.4rem;
  position: absolute;
}

// borders 

.side_borders {
  border-left: solid 3px $green;
  border-right: solid 3px $green;
}

// sections

#header {
  background-image: url('../../images/header/home-bg.jfif');
  background-size: cover;
  background-repeat: no-repeat;

  .main_content_wrapper {
    padding: 21rem 0 14rem 0;
    
    h1 {
      font-size: 2.25rem;
      letter-spacing: 0.3rem;
    }
    p{
      letter-spacing: 0.15rem;
    }
  }

}


#subscribe {
  background: url('../../images/subscribe/contact.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  .subscribe_title {
    padding-top: 21rem;
    padding-bottom: 1.7rem;
    text-shadow: #000 1px 1px 10px;
  }
  
  .subscribe_input {
    width: 21rem;
    padding-bottom: 20.5rem;
  }
}

// nav logo and hover

.nav_logo {
  margin-top: -1rem;
}

.nav-item > a:hover {
  color: red !important;
}

// offcanvas

.white-color {
  filter: invert(1);
}


nav {
  position: relative;
}

.nav-position {
  position: absolute;
  z-index: 2000;
}

@import './responsive.scss/_responsive.scss';
